<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Email\Block\Adminhtml\Template\Edit" type="Zorto\EmailTemplate\Block\Adminhtml\Template\Edit" />
    <type name="Magento\Newsletter\Block\Adminhtml\Template\Edit">
        <plugin name="changeForm" type="Zorto\EmailTemplate\Plugin\Newsletter\BlockEdit" sortOrder="1" disabled="false" />
    </type>
</config>
